<section class="block conatiner block-domain">
  <header class="block__header">
    <h2>STarting at 9$ Per Month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, fugiat?
    </p>
  </header>
  <div class="input-group" block-domain>
    <input type="text" class="input" placeholder=" Enter Domain name here.." />
    <svg class="icon icon--white">
      <use xlink:href="images/sprite.svg#search  "></use>
    </svg>

    <button class="btn btn--accent">Search</button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.infp $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
