<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="tetimonial__image">
      <img src="images/testimonial.jpg" alt="A picture of Happy Customer" />
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quia
        atque ullam possimus sequi repellendus soluta, totam ratione molestias
        praesentium!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Mubeen Rao</h3>
            <p class="quote__corporation">It'x RJ Corporation Ltd.</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
